//*// SITE NAV //*//
@media (max-width: $mobile-menu-width) {
    #portal-globalnav-wrapper {
        // margin: 0;
        // padding: 0;
        width: 100%;
        background-color: transparent;

        .container {
            margin-right: 0;
            padding-right: 0;
        }
        // z-index: 5001;
    }
    .plone-toolbar-left-default {
        #portal-globalnav-wrapper {
            .container {
                padding-left: 60px;
            }
        }
    }
    .plone-toolbar-left-expanded {
        #portal-globalnav-wrapper {
            .container {
                padding-left: 120px;
            }
        }
    }
}
@media (max-width: $screen-xs) {
    .plone-toolbar-left-default,
    .plone-toolbar-left-expanded {
        #portal-globalnav-wrapper {
            .container {
                padding-left: 0px;
            }
        }
    }
}

.plone-navbar {
    margin-bottom: -1em;
    padding-left: 0; // Override default ul/ol
    list-style: none;
    position: relative;
    background-color: $uniba-gray;
    @include clearfix();

    li {
        position: relative;
        display: block;

        &.has_subtree a {
            padding-right: 2em;
        }

        label {
            margin: 0;
        }

        a {
            position: relative;
            display: block;
            padding: $plone-sitenav-link-padding;
            color: $uniba;
            font-size: ceil(($font-size-base * 1.15));
            hyphens: auto;
            word-break: break-word;
            // border-radius: $border-radius-base $border-radius-base 0 0;
            border-left: 2px solid $uniba-gray;

            &:hover,
            &:focus {
                text-decoration: none;
                // background-color: $uniba-gray;
                // color: $uniba-dark;
                // border-left: 2px solid $uniba-gray;
                text-shadow: 1px 1px 2px $uniba;
                transition: ease-in 0.25s;
                background-color: darken($uniba-gray, 5%);
            }
        }

        // Navigation sublevels

        ul {
            padding-left: 0;
            visibility: hidden;
            opacity: 0;
            height: auto;
            column-count: 2;
            border-right: 3px solid rgba($color: $uniba, $alpha: 0.5);
            // border-left: 1px solid rgba($color: $uniba, $alpha: 0.5);
            // box-shadow: $uniba-nav-box-shadow;

            li {
                border-collapse: collapse;
                a {
                    font-size: ceil(($font-size-base * 1));
                    background-color: $sitenav-bg;
                    border-left: 2px solid darken($uniba-gray, 5%);
                    border-radius: 0%;
                    &:hover {
                        border-left: 2px solid $uniba;
                    }
                }
            }
            @media (max-width: $mobile-menu-width) {
                height: 0;
                background-color: $uniba-gray;
                width: 90vw;
                margin-left: 1em;
                border-right: none;

                li {
                    a {
                        color: $uniba-dark;
                        background-color: $uniba-gray;
                    }
                }
            }
            @media (max-width: $screen-xs) {
                column-count: 1;
            }
        }

        /* i sottomenu' dal 6 in poi li orientiamo verso sinistra per non sfondare il viewport */
        &:nth-child(6) > ul,
        &:nth-child(7) > ul,
        &:nth-child(8) > ul,
        &:nth-child(9) > ul {
            left: auto;
            right: -1px;
        }

        .opener {
            display: none;

            & + label:after {
                transform: rotate(0deg);
                transition: ease-in 0.35s;
            }

            @media (max-width: $mobile-menu-width) {
                &:checked + label:after {
                    // transform: rotate(-180deg);
                    transition: ease-in 0.35s;
                    content: '\e014';
                }
            }

            & ~ ul {
                transition: ease-out 0.35s;
                // width:90vw;
            }

            &:checked ~ ul {
                height: auto;
                transition: ease-in 0.35s;
            }

            @media (max-width: $mobile-menu-width) {
                &:checked ~ ul {
                    visibility: visible;
                    opacity: 1;
                }
            }
        }

        label {
            position: absolute;
            right: 0em;
            top: 0em;
            height: 100%;
            width: 4em;
            text-align: center;

            &:after {
                font-family: 'Glyphicons Halflings';
                font-style: normal;
                font-weight: 400;
                line-height: 1;
                // background: darken($link-color, 7%);
                border-radius: $input-border-radius;
                content: '\e114';
                cursor: pointer;
                display: inline-block;
                line-height: 1;
                width: 1.5em;
                height: 1.5em;
                font-size: 1em;
                padding: 0.25em;
                right: 0.5em;
                top: 0.45em;
                position: absolute;
            }
        }
    }

    @media (min-width: $mobile-menu-width) {
        li {
            label {
                top: 0em;
                width: 2em;

                &:after {
                    top: 0.5em;
                }
            }

            &.has_subtree {
                .has_subtree li {
                    label {
                        right: 0.25em;

                        &:after {
                            top: 0.5em;
                        }
                    }
                }
            }

            label {
                &:after {
                    width: 2em;
                    height: 2em;
                    font-size: 0.75em;
                    padding: 1em 0em 0.5em 0;
                    background: transparent;
                }
            }

            ul {
                background-color: darken($uniba-gray, 5%);
                position: absolute;
                z-index: 100;
                padding: 1em;
                opacity: 0;
                visibility: hidden;
                transition: ease-out 0.75s;
                box-shadow: $uniba-nav-box-shadow;
                margin-left: 2px;
                max-width: 50vw;

                li {
                    a {
                        color: $uniba;
                        background-color: inherit;
                        min-width: 14em;
                        display: inline-block;
                    }
                }
            }
        }

        // border-bottom: 4px solid $uniba;

        .has_subtree:hover {
            transition: ease-in 0.35s;
            border-bottom-color: $uniba-gray;
            background-color: darken($uniba-gray, 5%);
        }

        .has_subtree:hover > ul,
        .has_subtree .has_subtree:hover > ul {
            opacity: 1;
            visibility: visible;
            transition: ease-in 0.35s;
        }

        .has_subtree .has_subtree ul {
            position: absolute;
            z-index: -1;
            left: 0em;
            top: 0px;
        }

        .has_subtree .has_subtree:hover > ul {
            // we only shift the submenus to the right if visible
            // to prevent horizontal scrollers if not needed
            left: 16em;
        }
    }
}

.plone-navbar {
    @include clearfix();
    background-color: $uniba-gray;
    color: $uniba;
    position: relative;
    min-height: $sitenav-height; // Ensure a navbar always shows (e.g., without a .navbar-brand in collapsed mode)
    margin-bottom: $sitenav-margin-bottom;

    // Prevent floats from breaking the navbar
    @include clearfix();
    @media (max-width: $mobile-menu-width) {
        position: absolute;
        top: 12em;
        right: 0;
        z-index: 5;
    }
}

.plone-navbar-header {
    @include clearfix(); //without extend
    margin-right: 0.35em;
    @media (min-width: $mobile-menu-width) {
        // float: left;
    }
}

.plone-navbar-collapse {
    overflow-x: visible;
    padding-right: $sitenav-padding-horizontal;
    padding-left: $sitenav-padding-horizontal;
    // border-top: 1px solid transparent;
    // box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);

    @include clearfix();
    -webkit-overflow-scrolling: touch;
    display: none;

    &.in {
        display: block;
    }

    @media (min-width: $mobile-menu-width) {
        width: 100vm;
        // border-top: 0 none white;
        // box-shadow: $uniba-nav-box-shadow;

        &.plone-collapse {
            display: block !important;
            height: auto !important;
            padding-bottom: 0; // Override default setting
            overflow: visible !important;
            // box-shadow: $uniba-nav-box-shadow;
        }

        &.in {
            overflow-y: visible;
        }

        // Undo the collapse side padding for navbars with containers to ensure
        // alignment of right-aligned contents.
        .navbar-fixed-top &,
        .navbar-static-top &,
        .navbar-fixed-bottom & {
            padding-left: 0;
            padding-right: 0;
        }
    }
}

.plone-navbar-toggle {
    z-index: 2; //just in case
    position: relative;
    float: right;
    margin-top: -2.5em;
    margin-bottom: 6px;
    padding: 6px 10px;

    background-color: transparent;
    background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
    border: 1px solid transparent;
    border-radius: $border-radius-base;

    // We remove the `outline` here, but later compensate by attaching `:hover`
    // styles to `:focus`.
    &:focus,
    &:active {
        outline: 0;
        border: 1px solid transparent;
        background-color: transparent;
        box-shadow: none;
        background-image: none;
    }

    &:hover {
        // background-color: darken($sitenav-link-hover-bg, 15%);
        // border-color: darken($sitenav-link-hover-bg, 25%);
        outline: 0;
        border: 1px solid transparent;
        background-color: transparent;
        box-shadow: none;
        background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
        .icon-bar {
            // background-color: lighten($color: $uniba-dark, $amount: 50%);
            box-shadow: $uniba-nav-box-shadow;
        }
    }

    // Burgerbar (uncomment for a ≡ menu and comment menu just below)

    .icon-bar {
        display: block;
        width: 22px;
        height: 2px;
        border-radius: 1px;
        background: $uniba-dark;
        margin-top: 2px;
    }
    .icon-bar + .icon-bar {
        margin-top: 5px;
    }
    .icon-bar + .icon-bar + .icon-bar {
        margin-bottom: 3px;
    }
    //end burgerbar icon-bar

    // Menu (That option with a word, witch is language-dependant, is to ensure a higher tap ratio on the menu)
    .icon-bar::after {
        // content: 'Menu';
        position: relative;
        color: white;
    }

    .icon-bar + .icon-bar::after {
        content: '';
    }

    //end menu icon-bar

    @media (min-width: $mobile-menu-width) {
        display: none;
    }
}

.plone-navbar-nav {
    margin: 0 $sitenav-padding-horizontal * -1 0 -3.5em;

    display: flex;
    justify-content: space-between;
    width: 100%;

    > li > a {
        padding-top: 10px;
        padding-bottom: 10px;
        line-height: $line-height-computed;
    }

    // use selected for the last item in the structure

    .current > a,
    .selected > a {
        &,
        &:hover,
        &:focus {
            color: white;
            background-color: darken($uniba, 10%);
        }
    }

    // Uncollapse the nav
    @media (max-width: $mobile-menu-width) {
        // float: left;
        width: 100%;
        padding-left: 0;
        margin: 0 $sitenav-padding-horizontal * -1 0;
        flex-direction: column;
        background-color: $uniba-gray;

        > li {
            float: left;

            &.has_subtree a {
                padding-right: 2em;
            }

            > a {
                padding-top: $sitenav-padding-vertical;
                padding-bottom: $sitenav-padding-vertical;
            }
            label {
                font-size: 1em;
                background: transparent;
            }

            li.has_subtree label:after {
                transform: rotate(-90deg);
            }
        }

        &.navbar-right:last-child {
            margin-right: $sitenav-padding-horizontal * -1;
        }
        /*
        .has_subtree.inPath > a {
            &,
            &:hover,
            &:focus {
                color: white;
                background-color: $sitenav-link-hover-bg;
            }
        }*/
    }
}
